*{
    padding: 0;
  
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.one{
    background-color:red;
    border-radius: 10px;
    padding: 10px;
    
}
.three{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
.three h2{
    color: red;
}
.three button{
    background-color: red;
    color: black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
}

#add{
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 30px;
    font-size: 40px;
    right: 30px;
      
    bottom: 30px;
    text-align: center;
    border: none;
    position: fixed;
    border-radius: 100%;
color: black;
background-color:red;
}
.popoverlay{
   display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    border: 1px;
    z-index: 1;
    height: 100%;
}
.pop-up{
   width: 40%;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 30%;
    display: block;
    padding: 30px;
    background-color: red;
   display: none;
    border-radius: 10px;
}

.pop-up input{
    border-bottom: solid black 2px;
    font-size: 20px;
  border-top: 0px;
  border-right:0px ;
  border-left: 0px;
    margin: 5px;
    padding: 5px;
    width: 100%;
     background: transparent;

}
.pop-up input::placeholder{
    color: black;
}
.pop-up input:focus{
    outline: none;
}
.pop-up textarea:focus{
    outline: none;
}
.pop-up textarea::placeholder{
    color: black;
}
.des{
       border-bottom: solid black 2px;
    font-size: 20px;
  border-top: 0px;
  border-right:0px ;
  border-left: 0px;
    margin: 5px;
    padding: 5px;
    width: 100%;
     background: transparent;
}
#add1{

background-color: black;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
    border: none;
}
#cancel{
    border: none;
background-color: black;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
}